* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}
button {
    background-color: #efefef;
    font-size: 15px;
    font-family: arial;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 20px 35px;
    color: #fff;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    text-transform: uppercase;
    transition: all 0.3s;
}
button:hover {
    background-position: right center;
}
/* Header */
header {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__item a {
    text-decoration: none;
    color: #1e0a2a;
    padding: 55px 15px;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}
.header__item a span {
    display: inline-block;
    transition: all 0.3s;
}
.header__item a:hover span {
    animation: upToDown 0.3s;
    color: #e75987;
}
@keyframes upToDown {
    49% {
      transform: translateY(100%);
    }
    50% {
      opacity: 0;
      transform: translateY(-100%);
    }
    51% {
      opacity: 1;
    }
  }   
.header__item a i {
    font-size: 9px;
    font-weight: 700;
    margin: 0px 0 0 3px;
    transform: translateY(-3px);
}
header .header__item button {
    background-color: #efefef;
    font-size: 15px;
    font-family: arial;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 20px 35px;
    color: #fff;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
}

/* Carousel */
.carousel {
    padding-top: 220px;
    background-image: url(./img_samar/pic2.png);
    background-size: contain;
}
.carousel .container {
    position: relative;
    display: flex;
}
.carousel__item {
    width: 50%;
}
.carousel__item h3 {
    color: #f55f8d;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 20px;
}
.carousel__item h2 {
    color: #262626;
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 20px;
}
.carousel__item p {
    color: #636363;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
}
.carousel__img {
    position: absolute;
    bottom: 0px;
    right: 20px;
    transform: translateX(150px);
    overflow: hidden;
}
.carousel__img img {
    display: block;
}
.carousel__item.content li {
    list-style: none;
    display: flex;
    color: #636363;
    line-height: 35px;
    font-size: 20px;
    padding: 10px 5px 10px 0;
}
.carousel__item.content .carousel__check {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: white;
    text-align: center;
    line-height: 35px;
    font-size: 24px;
    font-weight: 900;
    margin-right: 10px;
}
.carousel .carousel__item.content button {
    margin: 20px 0 50px 0;
}
/* Services */
.service {
    padding: 115px 0 0 0;
    background-image: url(./img_samar/./bg2.png);
    text-align: center;
}
.service__title h3 {
    color: #f55f8d;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 20px;
}
.service__title h2 {
    color: #262626;
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 20px;
}
.service__container-item {
    display: flex;
}
.service__item {
    padding: 20px 15px 0 15px;
}
.service__item  .item__wraper {
    padding: 35px 45px;  
    background-color: #fff; 
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    border-radius: 8px;
    transform: translateY(0);
    transition: all 0.5s;
}
.service__item  .item__wraper img {
    width: 215px;
}
.service__item h4 {
    font-size: 24px;
    margin: 20px 0;
}
.service__item p {
    color: #636363;
    line-height: 1.6rem;
}
.service__item .item__wraper:hover {
    transform: translateY(-4%);
}
/* About Us */
.about {
    padding: 115px 0;
    background-image: url(./img_samar/./bg15.png);
    background-size: 100%;
    background-position: center right;
    background-repeat: no-repeat;
}
.about .container {
    display: flex;
    align-items: center;
}
.about__content, .about__img {
    width: 50%;
}
.about__img {
    transform: translateX(-180px);
}
.about__img img {
    height: 480px;
    border-radius: 0 100px 100px 0;
}
.about__content h3 {
    color: #f55f8d;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 20px;
}
.about__content h2 {
    color: #262626;
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 20px;
}
.about__content p {
    color: #636363;
    line-height: 30px;
    margin-bottom: 15px;
}
.about__content li {
    list-style: none;
    color: #636363;
    line-height: 24px;
    margin-bottom: 15px;
    display: flex;
    text-align: center;
}
.about__check {
    width: 24px;
    height: 24px;
    border: 2px solid #f55f8d;
    color: #f55f8d;
    background-color: transparent;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 24px;
}
.about__content button {
    margin-top: 20px;
}
/* Number */
.number {
    padding: 80px 0 50px 0;
    background-image: url(./img_samar/bg14.png);
    background-position: center;
    background-repeat: no-repeat;
}
.number .container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.number__item i {
    font-size: 45px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 15px;
}
.number__item p:nth-child(2) {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
}
.number__item span {
    margin-right: 15px;
}
.number__item p:last-child {
    font-size: 18px;
    color: #262626;
}
/* Features */
.features {
    padding: 115px 0 0;
    background-image: url(./img_samar/bg2.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.features .container {
    display: flex;
}
.features__content {
    width: 50%;
}
.features__content h3 {
    color: #f55f8d;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 20px;
}
.features__content h2 {
    color: #262626;
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 20px;
}
.features__content-item {
    position: relative;
    overflow: hidden;
    display: flex;
    padding: 30px 30px 30px 25px;
    color: white;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    margin-bottom: 50px;
    width: 550px;
    height: 150px;
    border-radius: 10px;
    background-size: 200%;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
}
.features__content-item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    transition: all 3s;
}
.features__content-item.mid {
    margin-left: 30px;
}
.features__content-item .item-icon {
    color: #e75987;
    font-size: 80px;
    line-height: 80px;
    z-index: 100;
}
.features__content-item .item-title {
    padding-left: 25px;
    z-index: 100;
}
.features__content-item h3 {
    color: black;
    font-size: 24px;
}
.features__content-item p {
    color: #727272;
}
.features__content-item:hover::after {
    background-color: transparent;
}
.features .features__content-item,
.features__content-item .item-icon ,
.features__content-item .item-title h3,
.features__content-item .item-title p {
    transition: all 1s;
}
.features__content-item:hover h3,
.features__content-item:hover p,
.features__content-item:hover .item-icon {
    color: white;
}
.features__img {
    width: 50%;
}
.features__img img {
    width: 680px;
    animation: turn1Deg 4s infinite;
}
/* Portfolio */
.portfolio {
    padding: 115px 0 0 0;
    text-align: center;
}
.portfolio__title h3 {
    color: #f55f8d;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 20px;
}
.portfolio__title h2 {
    color: #262626;
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 20px;
}
.portfolio__list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;
}
.portfolio__item {
    position: relative;
}
.portfolio__item .item__img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.portfolio__item img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.portfolio__item .item-overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: 0.75s;
    opacity: 0;
    overflow: hidden;
}
.portfolio__item .item__overlay-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    width: 50px;
    height: 50px;
    border-radius: 010px;
    background-size: 200%;
    font-size: 28px;
    line-height: 50px;
    color: #fff;
    transition: all 0.75s;
}
.portfolio__item .item__overlay-title {
    position: absolute;
    bottom: -40px;
    left: 30px;
    color: #fff;
    transition: all 0.75s;
}
.portfolio__item .item-overlay:hover {
    opacity: 1;
}
.portfolio__item .item-overlay::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    left: -100%;
    display: block;
    background: linear-gradient(to right,rgba(255, 255, 255, 0) 0%,rgba(255, 255, 255, 0.3) 100%);
    transform: skewX(-25deg);
    transition: all 0.75s;
  }
  .portfolio__item .item-overlay:hover::before {
    left: 125%;
  }
.portfolio__item .item-overlay:hover .item__overlay-title {
    bottom: 30px;
}
.portfolio__item .item-overlay:hover .item__overlay-icon {
    top: 25px;
    right: 25px;
}
.portfolio__item.item1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}
.portfolio__item.item2 {
    grid-row: 1 / span 2;
}
.portfolio__item.item5 {
    grid-column: 1 / span 2;
}
.portfolio__item.item6 {
    grid-row: 3 / 5;
    grid-column: 3;
}
/* Choose your plan */
.plan {
    padding: 115px 0 0 0;
    text-align: center;
    background-image: url(./img_samar/bg16.png);
    background-size: cover;
    background-position: center;
}
.plan__title h3 {
    color: #f55f8d;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 20px;
}
.plan__title h2 {
    color: #262626;
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 20px;
}
.plan__content {
    display: flex;
    justify-content: space-around;
}
.plan__content-item .item__wraper {
    padding: 35px 60px;
    border: 3px solid transparent;
    width: 380px;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    border-radius: 8px;
    transition: all 0.5s;
    border-image: 100 round;
    background-color: #fff;
}
.plan__content-item .item__wraper:hover {
    border-image: url(./img_samar/br.png) 1 round;
}
.plan__content-item {
    padding: 15px
}
.plan__content-item h3 {
    font-size: 32px;
    color: #262626;
}
.plan__content-item img {
    width: 125px;
}
.plan__content-item p {
    font-size: 18px;
    font-weight: 600;
}
.plan__content-item p span {
    font-size: 50px;
    line-height: 80px;
    font-weight: 800;
    color: #f8ae56;
}
.plan__content-item .hr {
    width: 100%;
    height: 1px;
    background-color: #e3e3e3;
    margin-bottom: 15px;
}
.plan__content-item li {
    list-style: none;
    text-align: left;
    padding: 5px 0;
    font-size: 18px;
}
.plan__content-item li i {
    margin-right: 15px;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-color: #feeff3;
    line-height: 26px;
    text-align: center;
    color: #f55f8d;
    font-size: 12px;
    font-weight: 900px;
}
.plan__content button {
    margin-top: 20px;
}
/* Testimonial */
.testimonial {
    padding: 115px 0 0 0;
    text-align: center;
    background-image: url(./img_samar/bg17.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.testimonial .container {
    overflow: hidden;
}
.testimonial__title h3 {
    color: #f55f8d;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 20px;
}
.testimonial__title h2 {
    color: #262626;
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 20px;
}
.testimonial__thumbs {
    width: 300px;
    margin: auto;
    height: 200px;
    position: relative;
    justify-content: center;
    overflow: hidden;
}
.testimonial__thumbs::after {
    right: 0;
    background: linear-gradient(to left,#fff 0,rgba(255,255,255,0) 100%);
}
.testimonial__thumbs::before {
    left: 0;
    background: linear-gradient(to right,#fff 0,rgba(255,255,255,0) 100%);
}
.testimonial__thumbs::after, .testimonial__thumbs::before {
    content: "";
    width: 30px;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
}
  .testimonial__thumbs .testimonial__img {
    position: relative;
    padding: 30px 0 0;
    transition: all 0.5s;
  }
  .testimonial__thumbs .swiper-slide-thumb-active .shape-bx {
    position: absolute;
    background-color: #db5982;
    width: 50px;
    height: 70px;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(./img_samar/pattern12.png);
    background-size: 100%;
    background-position: bottom;
  }
  .testimonial__thumbs .swiper-slide-thumb-active .testimonial__img::after {
    content: "";
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 130px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #db5982;
  }
  .testimonial__thumbs .swiper-slide-thumb-active .testimonial__img::before {
    content: "";
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #db5982;
  }
  .testimonial__thumbs .testimonial__img img {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 4px;
    z-index: 2;
    background-color: rgb(245, 95, 141);
  }
  .testimonial__comment {
    min-height: 300px;
    width: 100%;
  }
  .testimonial__comment .swiper-wrapper {
    padding-bottom: 20px;
  }
  .testimonial__comment .swiper-slide {
    position: relative;
  }
  .testimonial__comment .swiper-slide-icon {
    position: absolute;
    top: 20px;
    left: 20%;
    color: #db5982;
    font-size: 70px;
    transform: rotate(-180deg);
  }
  .testimonial__thumbs .swiper-slide-thumb-active .testimonial__img {
    padding: 0 0 40px;
  }
  .testimonial__content {
    padding: 30px 50px;
    text-align: center;
    box-shadow: 0 20px 30px 0 rgb(0 0 0 / 10%);
    margin: 0px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonial__content h4 {
    font-size: 22px;
    font-weight: 800;
    color: black;
    line-height: 24px;
    margin-bottom: 5px;
  }
  .testimonial__content h5 {
    font-size: 18px;
    color: #f55f8d;
    font-weight: 400;
    font-style: italic;
    line-height: 28px;
    margin: 0 0 15px;
    padding: 0 5px 15px;
  }
  .testimonial__content p {
    font-size: 18px;
    color: #636363;
    line-height: 28px;
    padding: 0 5px 15px;
    font-style: italic;
  }
  .swiper-pagination-bullets.swiper-pagination-horizontal, .testimonial .swiper-horizontal>.swiper-pagination-bullets {
    bottom: auto;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #db5982;
  }
/* Our Blog */
.blog {
    padding: 115px 0;
    text-align: center;
    background-image: url(./img_samar/bg16.png);
    background-size: cover;
    background-position: top center;
}
.blog__title h3 {
    color: #f55f8d;
    font-size: 22px;
    line-height: 36px;
    margin-bottom: 20px;
}
.blog__title h2 {
    color: #262626;
    font-size: 70px;
    line-height: 75px;
    margin-bottom: 20px;
}
.blog__content {
    display: flex; 
}
.blog__content .blog__content-item {
    padding: 15px;
}
.blog__content .blog__content-item .item__img {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}
.blog__content .blog__content-item .item__img img {
    width: 100%;
    display: block;
}
.blog__content-item .item__wraper {
    color: #636363;
    text-align: left;
    background: rgba(245,95,141,0.1);
    border-radius: 8px;
    line-height: 25px;
}
.item__content {
    padding: 30px 0;
    position: relative;
}
.item__content .content, .blog__contact {
    padding: 0 15px 0 15px;
}
.item__content .date {
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(-50%);
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    background-size: 200%;
    padding: 10px 20px;
    border-radius: 6px;
    color: #fff;
    font-size: 14px;
}
.blog__content .item__content h3 {
    color: #262626;
    font-size: 24px;
    line-height: 32px;
}
.blog__contact {
    display: flex;
    font-size: 14px;
    border-top: 0.5px solid #d6d6d6;
    padding-top: 15px;
    margin-top: 30px;
}
.blog__contact i, .blog__contact span {
    color: #f55f8d;
}
.blog__contact i {
    font-size: 22px;
    margin-right: 6px;
}
.blog__contact .contact__bloger {
    margin-right: 20px;
    align-items: center;
}
.contact__comment, .contact__bloger {
    display: inline-flex;
}
/* Footer */
footer {
    background-image: url(./img_samar/pattern2.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: contain;
}
footer .input__email {
    display: flex;
    justify-content: space-between;
    padding: 50px 60px;
    background-image: url(./img_samar/pattern3.png);
    background-size: 100%;
    background-color: #fff;
    background-position: 50% 100%;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    font-size: 15px;
    border-radius: 10px;
    background-color: #fff;
}
.input__email-title {
    font-size: 28px;
    font-weight: 700;
    width: 50%;
}
footer .input__email-form {
    width: 50%;
}
footer .input__email-form form {
    display: flex;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}
footer .input__email-form input {
    padding: 20px;
    border-radius: 8px 0 0 8px;
    border: 1px solid white;
    width: calc(100% - 100px);
}
footer .input__email-form button {
    border-radius: 0 8px 8px 0;
    width: 100px;
    font-size: 20px;
}
.input__email-form button i {
    display: inline-block;
    transition: all 0.3s;
}
footer .input__email-form button:hover i {
    animation: leftToRight 0.5s;
}
.footer__contact {
    padding: 70px 0;
    display: flex;
}
.footer__contact-item {
    width: 25%;
}
.footer__contact-item ul li{
    list-style: none;
    padding: 8px 0;
}
footer .footer__contact-item i {
    margin-right: 10px;
}
.footer__contact-item ul a {
    text-decoration: none;
    color: #636363;
    line-height: 24px;
    font-size: 15px;
    transition: all 0.5s;
}
.footer__contact-item ul li a:hover {
    color: #fff;
}
.footer__contact-item .item-title {
    font-size: 24px;
    font-weight: 700;
    color: white;
    padding: 0 0 10px;
    position: relative;
}
.footer__contact-item h2::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 3px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    bottom: 0;
    left: 0;
    border-radius: 1.5px;
}
.footer__contact-item h2::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    bottom: 0;
    left: 20px;
    border-radius: 1.5px;
}
footer .footer__contact-item.first i {
    background-image: linear-gradient(to right,#f55f8d 0,#f8ae56 51%,#f55f8d 100%);
    border-radius: 50%;
    font-size: 15px;
    width: 40px;
    height: 40px;
    font-weight: 700;
    color: white;
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
}
footer .footer__contact-item.first {
    color: white;
    margin-right: 30px;
}
footer .footer__contact-item.first ul li {
    display: flex;
}
footer .footer__contact-item.first a {
    color: white;
    display: block;
}
.footer__copyright {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    line-height: 24px;
    padding: 10px 0;
    background-color: #1f343b;
    color: white;
}
.footer__copyright .container {
    display: flex;
    justify-content: space-between;
}
.footer__copyright a {
    text-decoration: none;
}
.footer__copyright a i {
    text-decoration: none;
    font-size: 15px;
    line-height: 32px;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #36494f;
    text-align: center;
    transition: all 0.3s;
}
.footer__copyright a i:hover {
    background-color: #db5982;
}
.footer__copyright span {
    color: #db5982;
}
/* CSS Animation */
/* Animated */
.animated {
    opacity: 0;
}
.animate__slideInUp {
    animation: animate__slideInUp 2.5s;
    animation-fill-mode: both;
}
.animate__slideInleft {
    animation: animate__slideInLeft 2s;
    animation-fill-mode: both;
}
.animate__slideInRight {
    animation: animate__slideInRight 2s;
    animation-fill-mode: both;
}
.animate__faceOut {
    animation: animate__faceOut 2s;
    animation-fill-mode: both;
}
/* Animate delay */
.animate__delay-500ms {
    animation-delay: 0.5s;
}
.animate__delay-1s {
    animation-delay: 1s;
}
.animate__delay-1500ms {
    animation-delay: 1.5s;
}
.animate__delay-2s {
    animation-delay: 2s;
}
.animate__delay-3s {
    animation-delay: 3s;
}
.animate__delay-4s {
    animation-delay: 4s;
}
.animate__delay-5s {
    animation-delay: 5s;
}
/* Animate setting */
@keyframes animate__slideInUp {
    from {
        transform: translateY(100%);
        opacity: 0;
    }
    to {
        transform: translateY(00%);
        opacity: 1;
    }
}
@keyframes animate__slideInLeft {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(00%);
        opacity: 1;
    }
}
@keyframes animate__slideInRight {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(00% - 180px);
        opacity: 1;
    }
}
@keyframes animate__faceOut {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes leftToRight {
    49% {
      transform: translateX(100%);
    }
    50% {
      opacity: 0;
      transform: translateX(-100%);
    }
    51% {
      opacity: 1;
    }
  }
  @keyframes turn1Deg {
    0% {
        transform: rotate(1deg) translate(2px,2px);
    }
    50% {
        transform: rotate(-1deg) translate(-2px,-2px);
    }
    100% {
        transform: rotate(1deg) translate(2px,2px);
    }
  }
/* CSS xong nhớ chỉnh BGS */
